.recepie-text{
  font-size: 18px;
  color: #081828;
  font-weight: 600;
  text-transform: capitalize;
}

.custom-link{
  color: #888888;
  font-size: 16px;
  font-weight: 500;
}

.custom-link-active{
  color: #6366F1;
  font-size: 16px;
  font-weight: 500;
}